body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    color: #333;
    max-width: 800px;
    margin: 0 auto;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSOdqkjpBt8bRsKG8E4Zq7XxhuBiWgCZPneEg&s");
    background-size: 100vw 100vh;
}

h1 {
    color: #2c3e50;
    border-bottom: 2px solid #eee;
    padding-bottom: 10px;
}

p, li {
    font-size: 20px;
}

img {
    height: 2em;
    width: 2em;
}
